.App {
  text-align: center;
}

.App-logo {
  height: 90vh;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: calc(8px + 2vmin);
  color: white;
}

/* todos los items que empiecen su ID con Prefix */
[id^="path"]:hover{
  fill: #7e2337;
  transition: 0.5s ease;
}
  
  
  