@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

#root{
  /* background-color: #282c34; */
  background: #2193b0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.home-tittle{right: 6px; font-size: 2em;}
.home-sub-tittle{right:6px; top:33px;color: white;}

.container-app{
  max-width: 800px !important;
}

.mapa{
  width: auto; 
  height: 95%;
}

.cls-1,.cls-2,.cls-3,.cls-4{fill: white; }

.container-stats{

  bottom: 10%;
  right: 2%;
}
.container-stats-info{
  padding: 2px;
  width: 140px;
  margin-bottom: 5px;
  background-color: white;
  height: 55px;
}
.container-stats-info p{
  font-size: 31px;
  margin: 0px;
  color: #000;
  font-weight: 500;

}
.stats-icon{
 width: 50px;
}



/* todos los items que empiecen su ID con Prefix */
[id^="path"]:hover{
  fill: #2193b0;
  transition: 0.5s ease;
}

.footer{
  background-color: #362C28;
  color: white;
  
}
.fotter a{
  color: white !important;
  opacity: 0;
}
a:link{text-decoration: none !important;}
a:visited{color: white;}
a:hover{color: #6dd5ed !important;}
/* a partir de.... */
@media only screen and (min-width: 480px) {  
  .home-tittle{
    font-size: 3em;
  }
  .home-sub-tittle{
     top:50px;
     right: 8px;
     font-size: 2em;
  }
}
/* a partir de.... */
@media only screen and (min-width: 768px) {  
  .home-tittle{
   font-size: 5em;
  }
  .home-sub-tittle{
    top:80px;
    right: 8px;
    font-size: 3em;
 }
 .container-stats{
  bottom: 3%;
}

}
.snip1578 {

  position: relative;
  min-width: 150px;
  max-width: 250px;
  color: #000;
  text-align: left;
  font-size: 1.3em;
  background: #fff;
  border-radius: 5px;
  height: 100px;
  margin-bottom: 20px;
}


.snip1578 img {
  max-width: 30%;
  margin-top: -5%;
  margin-left: 70%;
  margin-bottom: 15px;
  backface-visibility: hidden;
  vertical-align: top;
  border-radius: 5px;
}

.snip1578 figcaption {
  position: absolute;
  top: 0;
  right: 40%;
  left: 10px;
  bottom: 0;
  padding: 2px;
}

.snip1578 h3 {
  margin: 0;
  font-size: 1.2em;
  font-weight: normal;
}

.snip1578 .icons {
  font-size: 3.2rem;
  font-weight: 500;
}




